* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Oswald', sans-serif;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {
	outline: none;
}
a:focus,a:active{
	outline: none;
}
nav,footer,header,aside {
	display: block;
}
html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea {
	font-family:inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size:inherit;
	font-weight: 400;
}
.container {
	max-width: 1450px;
	margin: 0 auto;
}
.header {
	max-width: 100%;
	height: 740px;
	background-image: url(../img/header_background.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px;
}
.header__text {
	max-width: 734px;
	margin: 0 auto;
	padding-top: 192px;
}
.header__text h1 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 64px;
	line-height: 95px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 35px;
}
.header__text p {
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.year_in {
	max-width: 1110px;
	height: 300px;
	margin: 0 auto;
	margin-top: -150px; 
	padding: 57px 130px; 
	background-color: #F7F7F7;
	margin-bottom: 100px;
}
.year_in ul {
	display: flex;
	justify-content: space-between;
}
.date {
	font-weight: 500;
	font-size: 72px;
	line-height: 107px;
	text-align: center;
	text-transform: uppercase;
	color: #F7654A;
}
.year_in li {
	width: 190px;
	height: 156px;
}
.year {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}
.inBazaar {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #999999;
}
.logo_box {
	width: 1110px;
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}
.our_projects {
	width: 1110px;
	height: 700px;
	margin: 0 auto;
	margin-bottom: 130px;
}
.our_projects h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	text-transform: uppercase;
	color: #404149;
	margin-bottom: 50px;
}
.our_projects_list {
	display: flex;
	justify-content: space-between;
}
.our_projects_list img {
	margin-bottom: 30px;
}
.our_projects_list hr {
	width: 55px;
	height: 6px;
	background: #F7654A;
	margin-bottom: 15px;
}
.our_projects_list li {
	width: 350px;
	height: 600px;
}
.gasProm {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #404149;
	margin-bottom: 20px;
}
.gasProm__text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
}
.smart_projects {
	width: 100%;
	height: 181px;
	background-color: #F7654A;
	display: flex;
	align-items: center;
	padding-right: 145px;
	margin-bottom: 150px;
}
.smart_projects_container {
	width: 900px;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 43px;
}
.smart_projects_container h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.smart_projects_container h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.mail_btn {
	display: inline-block;
	width: 175px;
	height: 49px;
}
.mail_btn button {
	display: flex;
	align-items: center;
	padding: 15px 30px;
}
.mail_btn button img {
	margin-right: 15px;
	width: 18px;
	height: 21px;
}
.mail_btn button span {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.05em;
	color: #000000;
}
.building {
	width: 1110px;
	height: 640px;
	margin: 0 auto;
	margin-bottom: 130px;
}
.building h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin-bottom: 66px;
}
.building li {
	width: 350px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 59px 90px 59px 84px;
	margin: 0;
	background-color: #F7F7F7;
}
.building h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #000000;
} 
.building ul {
	width: 1110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#listOne {
	margin-right: 8px;
}
#listOn {
	margin-right: -22px;
}
.building img {
	margin-bottom: 30px;
}
.towerImg {
	width: 100%;
	height: 814px;
	background-image: url("../img/tower.jpg");
	margin-bottom: 150px;
	background-size: 350px 330px;
	background-repeat: round;
}
.answers__wraspper {
	width: 1110px;
	height: 452px;
	margin: 0 auto;
	margin-bottom: 150px;
}
.answers {
	width: 730px;
	height: 452px;
}
.answers h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #000000;
	text-align: right;
	margin-bottom: 50px;
}
.answers__subtitle img {
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
	margin-right: 15px;
}
.answers__subtitle img:hover {
	transform: rotate(90deg);
}
.answers__subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #F7654A;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}
.answers p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
	margin-bottom: 25px;
}
.answers__subtitle:last-child {
	margin-bottom: 0;
}
.partner {
	width: 100%;
	height: 364px;
	background-color: #404149;
	margin-bottom: 150px;
}
.partner__box {
	width: 1110px;
	height: 364px;
	margin: 0 auto;
	padding-top: 100px;
}
.partner__box h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 60px;
}
.partner__box ul {
	display: flex;
	justify-content: space-between;
}
.comment {
	height: 431px;
	width: 1110px;
	margin: auto;
	margin-bottom: 150px;
}
.comment h2	{
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin-bottom: 60px;
}
.comment ul	{
	display: flex;
	justify-content: space-between;
}
.comment li {
	width: 350px;
	height: 318px;
}
.comment h4	{
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 142px;
	text-transform: uppercase;
	color: #F7654A;
	margin-bottom: -50px;
}
.comment p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #999999;
	width: 290px;
	height: 142px;
	margin-bottom: 53px;
}
.ivan {
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.02em;
	color: #000000;
}
.arena {
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.02em;
	color: #F7654A;
}
footer {
	width: 1110px;
	height: 304px;
	margin: auto;
	margin-bottom: 150px; 
}
footer h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin-bottom: 50px;
}
footer li {
	width: 255px;
	height: 191px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer ul {
	display: flex;
	justify-content: space-between;
}
.contact__title {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #999999;
	margin-bottom: 25px;
}
footer img {
	margin-bottom: 20px;
}
.contact__title_second {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #000000;
}
.num {
	padding: 0 40px;
}
.info_mail {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #F7654A;
}
.last {
	width: inherit;
	height: 81px;
	background-color: #404149;
}
.last__box {
	width: 1110px;
	height: inherit;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.last__box p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}